<!-- To statisfy MDL some parts of the header need to be declared in layout.server.view.html.
     Otherwise some layout elements will break when there are additional nested divs, etc -->
<span class="mdl-layout-title">activeLocale</span>

<div class="mdl-layout-spacer"></div>

<div class="navigation-container">
	<nav class="mdl-navigation">
  		<!-- When no user is logged in... -->
  		<a class="mdl-navigation__link" ng-hide="authentication.user" href="/#!/signup">Sign Up</a>
		<a class="mdl-navigation__link" ng-hide="authentication.user" href="/#!/signin">Log In</a>

		<!-- When a user is logged in... -->
		<a class="mdl-navigation__link" ng-show="authentication.user" href="/#!/settings/profile">{{authentication.user.username}}</a>
		<a class="mdl-navigation__link" ng-show="authentication.user" href="/auth/signout">Sign Out</a>
	</nav>
</div>