<style>
	/* Special cover image for home page */
	body {background: url("modules/core/img/background.jpg") center / cover;}
</style>

<section class="mdl-cell mdl-cell--2-col mdl-cell--0-col-mobile"><!-- Spacer --></section>
<section class="mdl-cell mdl-cell--8-col home-header" data-ng-controller="HomeController">

	<div class="mdl-typography--display-1">
		Simple, Temporary Location Sharing.
	</div>
	<br/>

	<div class="mdl-typography--subhead-color-contrast">
		Share your location, right from your browser.
		No app download or log in required.	
	</div>

	<a href="/#!/location/test1">Location Share Test 1</a><br/>
	<a href="/#!/location/test2">Location Share Test 2</a><br/>
	<a href="/#!/location/test3">Location Share Test 3</a><br/>

</section>
<section class="mdl-cell mdl-cell--2-col mdl-cell--0-col-mobile"><!-- Spacer --></section>