<style>
	/* Special cover image for home page */
	body {background: url("modules/core/img/background.jpg") center / cover;}
</style>

<section class="mdl-cell mdl-cell--2-col mdl-cell--0-col-mobile"><!-- Spacer --></section>
<section class="mdl-cell mdl-cell--8-col home-header" data-ng-controller="HomeController">

	<div class="mdl-typography--display-1">
		Simple, Temporary Location Sharing.
	</div>
	<br/>

	<div class="mdl-typography--subhead-color-contrast">
		Share your location, right from your browser.
		No app download or log in required.	
	</div>

</section>
<section class="mdl-cell mdl-cell--2-col mdl-cell--0-col-mobile"><!-- Spacer --></section>