<section class="mdl-cell mdl-cell--4-col mdl-cell--2-col-tablet"><!-- Spacer --></section>
<section class="mdl-cell mdl-cell--4-col" data-ng-controller="SettingsController">

	<h3>Profile</h3>	

	<form name="userForm" data-ng-submit="updateUserProfile(userForm.$valid)" autocomplete="off">

		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			<input class="mdl-textfield__input" type="text" id="firstName" name="firstName" data-ng-model="user.firstName">
			<label class="mdl-textfield__label" for="firstName">First Name</label>
		</div>

		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			<input class="mdl-textfield__input" type="text" id="lastName" name="lastName" data-ng-model="user.lastName">
			<label class="mdl-textfield__label" for="lastName">Last Name</label>
		</div>

		<br/><br/>
		<div>
			<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" type="submit">Update Profile</button>
		</div>
	</form>

	<div data-ng-show="success">
		<h6>Profile Saved Successfully</h6>
	</div>
	<div data-ng-show="error">
		<h6 data-ng-bind="error"></h6>
	</div>	

</section>
<section class="mdl-cell mdl-cell--4-col mdl-cell--2-col-tablet"><!-- Spacer --></section>