<!DOCTYPE html>
<html lang="en-us" xmlns:ng="http://angularjs.org">
<head>
	<title>{{title}}</title>

	<meta charset="utf-8">
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
	<meta name="description" content="Simple, Temporary Location Sharing">

    <!-- Material Design Lite resources -->
    <!-- TODO: Replace with minimized CDN versions (material blue-orange) -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" />
    <link rel="stylesheet" href="//storage.googleapis.com/code.getmdl.io/1.0.6/material.blue-orange.min.css" />
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons" />
	<script src="//storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
	
	<link rel="stylesheet" href="modules/core/css/layout.css">
</head>

<body>
	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

		<!-- Header and top-right navigation menu -->
		<header class="mdl-layout__header" data-ng-controller="HomeController">
			<div class="mdl-layout__header-row" ng-include="'/modules/core/views/header.client.view.html'"></div>		
		</header>

		<!-- Navigation drawer -->
		<section class="mdl-layout__drawer" data-ng-controller="HomeController">
			<span class="mdl-layout-title">activeLocale</span>
			<div ng-include="'/modules/core/views/drawer.client.view.html'"></div>
		</section>

		<main class="mdl-layout__content" >
			{% block content %}{% endblock %}
		</main>
	</div>

	<!--Embed the User object in the page-->
	<script type="text/javascript">
		var user = {{ user | json | safe }};
	</script>

	<!-- TOOD: 
	   * Replace with minimized CDN versions
	   * Figure out better way to include all of these JS files
	-->
	<script src="/lib/angular/angular.js"></script>
	<script src="/lib/angular-resource/angular-resource.js"></script>
	<script src="/lib/angular-ui-router/release/angular-ui-router.js"></script>		

	<script src="/config.js"></script>
	<script src="/application.js"></script>

	<!-- Core Module -->
	<script src="/modules/core/core.client.module.js"></script>
	<script src="/modules/core/config/core.client.routes.js"></script>
	<script src="/modules/core/controllers/home.client.controller.js"></script>

	<!-- Users Module -->
	<script src="/modules/users/users.client.module.js"></script>
	<script src="/modules/users/config/users.client.config.js"></script>
	<script src="/modules/users/config/users.client.routes.js"></script>
	<script src="/modules/users/controllers/authentication.client.controller.js"></script>
	<script src="/modules/users/controllers/settings.client.controller.js"></script>
	<script src="/modules/users/services/authentication.client.service.js"></script>
	<script src="/modules/users/services/users.client.service.js"></script>

	<!-- Groups Module -->
	<script src="/modules/groups/groups.client.module.js"></script>
	<script src="/modules/groups/config/groups.client.routes.js"></script>
	<script src="/modules/groups/controllers/groups.client.controller.js"></script>
	<script src="/modules/groups/services/groups.client.service.js"></script>

</body>
</html>